<html>
<meta charset="utf-8">

<head>

<link rel="stylesheet" href="main.css">
</head>
<body bgcolor="gray">

<pre><img class="owl" src="pages/logo.png" height="100" width="100">                <img class="owl" src="pages/giffy.gif" width="1000" height="100">

<br>


<ul><li><a href="main.html"><h3>الصفحة الرئيسية</h3></a></li><li><a href="pages/home.html"><h3>اتصل بنا</h3></a></li></ul>

</div>


<table class="table1" border="1">
<tr> <td><a href="pages/Budgie.html"><img class="pic1" src="pages/badgy.jpg" width="200px" height="200px"></a></td> 
<td><a href="pages/siskin.html"><img class="pic1" src="pages/siskin.jpg" width="200px" height="200px"></a></td>
<td><a href="pages/macaw.html"><img class="pic1" src="macaww.jpg" width="200px" height="200px"></a> </td>
<td><a href="pages/coctail.html"><img class="pic1" src="pages/k1.jpg" width="200px" height="200px"></a></td></tr>

<tr> <td><a href="pages/cocatoo.html"><img class="pic1" src="pages/cocato.jpg" width="200px" height="200px"></a></td>
<td><a href="pages/zebra.html"><img class="pic1" src="pages/f2.jpg" width="200px" height="200px"></a></td>
<td><a href="pages/goldenparakeet.html"><img class="pic1" src="pages/golden.jpg" width="200px" height="200px"></a></td>
<td><a href="pages/yellowth.html"><img class="pic1" src="pages/b1.jpg" width="200px" height="200px"></a></td></tr>

<tr><td><a href="pages/qanna.html"><img class="pic1" src="pages/b2.jpg" width="200px" height="200px"></a></td>
<td><a href="pages/turkman.html"><img class="pic1" src="pages/b3.jpg" width="200px" height="200px"></a></td>
<td><a href="grayparrot.html"><img class="pic1" src="pages/b4.jpg" width="200px" height="200px"></a></td>
<td><a href="pages/lov.html"><img class="pic1" src="pages/b5.jpg" width="200px" height="200px"></a></td></tr>

<tr><td><a href="pages/canari.html"><img class="pic1" src="pages/a1.jpg" width="200px" height="200px"></a></td>
<td><a href="pages/cardinalred.html"><img class="pic1" src="pages/cardinal.jpg" width="200px" height="200px"></a></td>
</tr>


</body>













</body>


























</html>