{% load static %}
<html>
<title> البادجي</title>

<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{% static 'my_app/css/style.css' %}">

</head>
<body bgcolor="#a39e9e">

<pre><img class="owl" src="{% static 'my_app/images/logo.png' %}" height="100" width="100">                <img class="owl" src="{% static 'my_app/images/giffy.gif' %}" width="1000" height="100">






<ul><li><a href="{% url 'main' %}"><h3>الصفحة الرئيسية</h3></a></li><li><a href="{% url 'home_page' %}"><h3>اتصل بنا</h3></a></li></ul>
</pre>
</div>

<p class="titlee"><b>البادجي</b></p>


<pre>
<div class="div1">
        <img  class="frame" src="{% static 'my_app/images/badgy.jpg' %}" width="400px" height="400px">
 <iframe class="vid" width="500" height="370" src="https://www.youtube.com/embed/3odWYKQ8k_M" allowfullscreen></iframe> 
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

  
</pre>

<br>
</div>
<div class="test">
<p align="right"><font color="white" size="5">طائر البادجي هذا الطائر الجميل هو احد اجمل الطيور وخاصة طيور الزينة والأكثر شهرة وانتشاراً , إنه طائر البادجي الأسترالي والمعروف بطائر الحب او العاشق

</font></p>
<p align="right"><font color="white" size="5">.ترجع أصول طائر البادجي الأسترالي إلى قارة أستراليا القارة الأم لجميع الببغاوات البديعة اللون والمنظر , وطائر البادجي من فصيلة الببغاوات وله نفس طريقة وإسلوب الببغاوات في العيش والتزاوج وحتى في محاولة تقليد بعض النغمات التي قد يسمعها من طيور أخرى أو الإنسان ـ ولو أحسن تدريبه قد ينطق بعض الكلمات البسيطة .طائر البادجي من الطيور التى يعتبرها الكثيرون مصدر السعادة في حياتهم فهو مصدر بهجة للصغير والكبير على السواء , يكفي أن تقوم بتربية طائر البادجي صغيرا وتدريبه فتكتشف أنك أمام صديق أكثر مودة من البشر وقد تعتبره أهم فرد في عائلتك .</font></p>

<p style="border:1px solid gray;" align="right"><font size="6" color="white">تربية طيور البادجي</font></p>
<p align="right"><font size="6" color="white">المسكن</font></p>
<p align="right"><font size="5" color="white">شراء الأقفاص حسب عدد الطيور المراد تربيتها، وإيجاد المكان المناسب لوضع الأقفاص فيه، ويفضل أن يتراوح طول القفص لطائر البادجي الواحد ما بين 30سم إلى 40 سم، وعرضه ما بين 20سم إلى 30سم، أما حجم القفص الملائم لزوج طائر البادجي فحوالي 30سم طول×25سم عرض×30سم ارتفاع، ويجب شراء أقفاص لحجز الطيور المريضة بها وعزلها عن بقية الطيور.
</font></p>
<p align="right"><font size="6">التغذية</font></p>
<p align="right"><font size="5">يجب توفير غذاء متكامل لطائر البادجي يحتوي على كافة أنواع الفيتامينات والبروتينات لحماية الطائر من الإصابة بالأمراض، بالإضافة إلى العناصر الكربوهيدراتية والدهون اللازمة للطائر خلال فصل الشتاء للحفاظ على درجة حرارة جسمه ثابتة، فيفضل إطعامه الفواكه الطازجة مثل: البرتقال والتفاح، والحبوب والخضروات، والحرص على تزويد الطائر بالمياه النظيفة بشكل مستمر.</p></font>









</div>
</pre>







</body>
























</html>