{% load static %}
<html>
<title> كنار اطلنطي</title>

<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{% static 'my_app/css/style.css' %}">
</head>
<body bgcolor="#a39e9e">

<pre><img class="owl" src="{% static 'my_app/images/logo.png' %}" height="100" width="100">                <img class="owl" src="{% static 'my_app/images/giffy.gif' %}" width="1000" height="100">






<ul><li><a href="{% url 'main' %}"><h3>الصفحة الرئيسية</h3></a></li><li><a href="{% url 'home_page' %}"><h3>اتصل بنا</h3></a></li></ul>
</pre>
</div>

<p class="titlee"><b>الكنار الاطلنطي</b></p>


<pre>
<div class="div1">
        <img  class="frame" src="{% static 'my_app/images/a1.jpg' %}" width="400px" height="400px">
		<iframe class="vid" width="500" height="370" src="https://www.youtube.com/embed/E85ej_3VzhY"  allow="autoplay; encrypted-media" allowfullscreen></iframe>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

 
</pre>

<br>
</div>
<div class="test">
<p align="right"><font color="white" size="5">هو طائر جميل ،موطنه الأصلي هو جزر الأزور وجزر الكناري وماديرا. وهذه الطيور البرية صفراء-خضراء اللون مع وجود بقع باللون البنى على المؤخرة. وجميع الفصائل مشتركة في الأسر وهناك بعض الاختلافات في الألوان.

</font></p>
<p align="right"><font color="white" size="5"></font></p>

<p style="border:1px solid gray;" align="right"><font size="6" color="white">تربية طيور الكنار الاطلنطي</font></p>
<p align="right"><font size="6" color="white">المسكن</font></p>
<p align="right"><font size="5" color="white">الكنارى طائر اجتماعى يعيش غالبا في مجموعات في العشش وكل زوج من هذه الطيور يدافع عن منطقته الصغير في العش.وتبنى العشش على علو من واحد إلى ستة متر فوق الأرض في الأشجار ولكن تبنى أكثر العشش على بعد من واحد إلى ثلاثة متر فوق الأرض، وعش الكنارى على شكل كأس ومخفى جيدا بين أوراق الاشجار وغالبا ما يوجد في نهاية الجذع أو في المفترق، وهو مصنوع من الحشائش والأغصان والأعشاب والطحالب ومواد نباتية أخرى ويغطى بالشعر والريش.
وتضع طيور الكناريا البيض في الفترة بين يناير ويوليو في "جزر الكنارى".وبين مارس ويونيو في "ماديرا"،وبين مارس ويوليو في "الأزورس"والبيض شاحب اللون وأزرق أو ازرق مع أخضر وبه علامات بنفسجية وحمراء في نهايته الواسعة.وعادة ما يبيض الكنارى كل سنة ثلاث أو اربع بيضات وأحيانا خمسة واثنان أو ثلاثة من صغار الكناريا. وفترة الحضانة هي من 13 إلى 14 ويكسو الريش الصغار بعد 14-21 يوم، وغالبا بعد 15-17 يوم.
</font></p>
<p align="right"><font size="6">التغذية</font></p>
<p align="right"><font size="5">تغذى هذه الطيور في جماعات على النباتات الصغيرة كما تتغذى بصورة أساسية على البذور كالعشبة الضارة والحشائش واوراق التين، وتتغذى أيضا على بعض المواد النباتية الأخرى والحشرات الصغيرة، وقد اكتشف أن طيور الكناريا تحتاج إلى وجود الجاذبية (Gravity) لتتمكن من ابتلاع الطعام ولذا فانها تموت من الجفاف في ظروف انعدام الجاذبية كالفضاء مثلا. وفي الأسر تغتذي على الفواكه وهناك خلطات جاهزه لأكل الكناري، وأفضلها المنتجات الأوربية [بحاجة لمصدر]، كما يجب إضافة وجبات مكملة مثل الخضروات (الخس والجرجير) كبديل عن الفيتامينات وبالإضافة إلى البيض المسلوق.</p></font>









</div>
</pre>







</body>
</html>