<html>
<title> الكاردينال</title>

<head>
<meta charset="utf-8">
<link rel="stylesheet" href="style.css">
</head>
<body bgcolor="#a39e9e">

<pre><img class="owl" src="logo.png" height="100" width="100">                <img class="owl" src="giffy.gif" width="1000" height="100">






<ul><li><a href="../main.html"><h3>الصفحة الرئيسية</h3></a></li><li><a href="home.html"><h3>اتصل بنا</h3></a></li></ul>
</pre>
</div>


<p class="titlee"><b>الكاردينال أحمر الرأس</b></p>


<pre>
<div class="div1">
      <img  class="frame" src="cardinal.jpg" width="400px" height="400px">
	  <iframe class="vid" width="500" height="370" <iframe width="560" height="315" src="https://www.youtube.com/embed/BDnUaugi02E" allowfullscreen></iframe> 

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  
</pre>
</div>
<div class="test">
<p align="right"><font color="white" size="5">طائر الكاردينال ذو الرأس الأحمر :يكثر وجوده في الأماكن المعشبة والأرياف الواقعة جنوبي البرازيل وشرقي بوليفيا والبراغواي والأورغواي وشمالي  الأرجنتين، يبلغ طوله حوالي تسعة عشر سنتيمتراً وهو ذو ظهرٍ رمادي اللون ورأس قرمزي برّاق، وله عينان بنيتان داكنتان ومنقار أبيض وردي  برأس أسود وساقين سوداويتين. يعشش هذا الطائر على الشجيرات الكثيفة ويبني عشه من أغصانها وعروقها وأوراقها بالمواد الناعمة الطرية ففي موسم التناسل تضع الأنثى أربعَ بيضات بيضاء مبقعة ببقع رمادية عند طرفها، ويتناوب الذكر والأنثى على حضانتها، تفقس بعد أسبوعين وبعد أسبوعين فقط يتمكن الصغار من مغادرة العش.



</font></p>
<p align="right"><font color="white" size="5"></font></p>

<p style="border:1px solid gray;" align="right"><font size="6" color="white">تربية الكاردينال </font></p>

<p align="right"><font size="6">التغذية</font></p>
<p align="right"><font size="5">
تتغذى طيور الكاردينال ببذور الحشائش والفاكهة البرية والحبوب والديدان والخنافس والحشرات الأخرى. وتحبذ طيور الكاردينال بذور دوار الشمس ولكنها تأكل أيضا الزبيب وقطع التفاح والخبز والدخن وتقتات صغار الكاردينال الحشرات.
</font></p>









</div>
</pre>







</body>
</html>