<html>
<title> كوكاتو كبريتي العرف</title>

<head>
<meta charset="utf-8">
<link rel="stylesheet" href="style.css">
</head>
<body bgcolor="#a39e9e">

<pre><img class="owl" src="logo.png" height="100" width="100">                <img class="owl" src="giffy.gif" width="1000" height="100">






<ul><li><a href="../main.html"><h3>الصفحة الرئيسية</h3></a></li><li><a href="home.html"><h3>اتصل بنا</h3></a></li></ul>
</pre>
</div>


<p class="titlee"><b>كوكاتوكبيريتي العرف</b></p>


<pre>
<div class="div1">
      <img  class="frame" src="cocato.jpg" width="400px" height="400px">
	  <iframe class="vid" width="500" height="370"  src="https://www.youtube.com/embed/TTb77syQjMg" allowfullscreen></iframe> 

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  
</pre>
</div>
<div class="test">
<p align="right"><font color="white" size="5">الكوكاتو كبريتي العرف طائر أبيض اللون كبير نسبيا من فصيلة الكوكاتو، يعيش في المناطق التي تكثر فيها الأشجار في أستراليا وغينيا الجديدة، وتكون هذه الطيور كثيرة العدد جدا في بعض المناطق، ولذلك فإنها تعتبر أحيانا من الحيوانات الآفات، وهي منتشرة كثيرا عند مربي الطيور، مع أنها تعتبر حيوانات أليفة متطلبة.
<p align="center"><font color="white" size="5">طول الكوكاتو كبريتي العرف يتراوح بين 44 و55 سنتمترا، علما أن الأنواع الفرعية الأسترالية أكبر حجما من الأنواع الفرعية التي توجد في غينيا الجديدة والجزر القريبة منها. ريشه أبيض، وهناك ريش أصفر فاتح تحت جناحيه وعلى ذيله، وعرفه أصفر، ومنقاره أسود اللون، وأقدامه خضراء، والحلقات التي حول عينيه بيضاء. للذكور عيون سوداء بالكامل، أما الإناث فلها عيون مائلة للون الأحمر أو البني،</font></p>
</font></p>


<p style="border:1px solid gray;" align="right"><font size="6" color="white">تربية الكوكاتو</font></p>

<p align="right"><font color="white" size="5">الكوكاتو كبريتي العرف طائر متطلب، وله صوت مرتفع، وله أيضا رغبة طبيعية في قضم الخشب وغيره من المواد الصلبة والعضوية.</font></p>

<p align="right"><font color="white" size="5">يمكن أن تتعرض هذه الطيور كغيرها من الببغاوات لمرض فيروسي اسمه (Psittacine Beak and Feather Disease) أي مرض منقار الببغاء وريشه، والذي يؤدي إلى فقد الببغاء لريشه ونمو منقار غريب الشكل، وهذا المرض يصيب الببغاوات بشكل طبيعي في البرية والأسر.</font></p>



</div>
</pre>







</body>
</html>