<html>
<title> كوكاتيل</title>

<head>
<meta charset="utf-8">
<link rel="stylesheet" href="style.css">
</head>
<body bgcolor="#a39e9e">

<pre><img class="owl" src="logo.png" height="100" width="100">                <img class="owl" src="giffy.gif" width="1000" height="100">






<ul><li><a href="../main.html">الصفحة الرئيسية</h3></a></li><li><a href="home.html"><h3>اتصل بنا</h3></a></li></ul>
</pre>
</div>


<p class="titlee"><b>كوكاتيل</b></p>


<pre>
<div class="div1">
      <img  class="frame" src="k1.jpg" width="400px" height="400px">
	  <iframe class="vid" width="500" height="370" <iframe width="560" height="315" src="https://www.youtube.com/embed/VOKHYpn8w9g" allowfullscreen></iframe> 

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  
</pre>
</div>
<div class="test">
<p align="right"><font color="white" size="5">طائر الكوكتيل هو طائر أسترالي الأصل، كما أنه أحد الطيور التي يتم تربيتها في المنازل، لجمال منظره وسهولة العناية به إضافةً إلى صوته الجميل الخلاب، ولكن على كل فرد يرغب في تربية طيور الكوكتيل جمع بعض المعلومات والصفات عن هذا الطائر، فمن صفات طولُه الذي يتراوح من ثلاثين إلى اثنين وثلاثين سنتمتراً، ووزنه الذي يبلغ كيلو غرام، وعمره الذي يتراوح من ثماني عشرة سنة حتى خمس وعشرين سنة، وطيور الكوكتيل تحتاج إلى ما يقارب السنة حتى تصبح بالغة وجاهزة للبيض والفقس، وهناك العديد من المعلومات التي تسهل على الفرد التعامل مع هذه النوعية من الطيور.



</font></p>
<p align="right"><font color="white" size="5"></font></p>

<p style="border:1px solid gray;" align="right"><font size="6" color="white">تربية الكوكاتيل</font></p>
<p align="right"><font size="6" color="white">المسكن</font></p>
<p align="right"><font size="5" color="white">الكوكاتيل يعتبر ببغاء صغير، تتراوح كتلته الطبيعية بين 78 : 125 جراما، ولكن بعض الأنواع منه وخاصة  تميل إلى أن تكون كتلتها خفيفة نسبيا أي تكون بين 78 : 90 جراما فقط، وعادة الكتلة الطبيعية تشير إلى الصحة الجيدة.
طول هذا الطائر حوالي 30 سنتيمترا، وعمره يتراوح بين 15 : 20 عاما، ولكن المعظم يعيش من 12 : 15 عاما، والبعض قد يعيش 3 أو 5 أعوام فقط ولكن ذلك قليل نسبياً فالحقيقة أن بالمنازل المعظم يعيش تلك المدة نظراً لعدم الاهتمام به، وهناك بعض النوادر التي عاشت 30 عاما، تضع الأنثى حوالي من 4 :7 بيضات، وتكن فترة حضانتهم 19 يوما ثم يفقس البيض ويتعاون الذكر والأنثى في حضانة البيض؛ فالذكر نهارا، والأنثى ليلا
</font></p>
<p align="right"><font size="6">التغذية</font></p>
<p align="right"><font size="5">يفضل طائر الكوكتيل البذور، وخاصة حشيشة الكنار، ودوار الشمس، والفلارس، وأيضاً بذور البانكيم، والذرة التي تحتوي على كم كبير من البروتينات المفيدة لصحة جسم طائر الكوكتيل، وبما أن طائر الكوكتيل يفضل نوعاً محدداً من البذور، لذا من الأفضل مزج البذور التي يحبها مع البذور الأخرى، فيقوم الطائر بأكل البذور التي يفضلها الأول ومن ثم يبدأ بأكل باقي أنواع البذور، وأيضاً من المهم تقديم الخضار الطازجة لطائر الكوكتيل ولا سيما الخس، والبرسم الأخضر، والبقدونس، وأعواد الكرنب، والجرجير، وأيضاً الفواكه مثل البرتقال، والتفاح وفشر البطيخ.</font></p>









</div>
</pre>







</body>
</html>