<html>
<title>الببغاء الذهبي</title>

<head>
<meta charset="utf-8">
<link rel="stylesheet" href="style.css">
</head>
<body bgcolor="#a39e9e">

<pre><img class="owl" src="logo.png" height="100" width="100">                <img class="owl" src="giffy.gif" width="1000" height="100">






<ul><li><a href="../main.html"><h3>الصفحة الرئيسية</h3></a></li><li><a href="home.html"><h3>اتصل بنا</h3></a></li></ul>
</pre>
</div>


</style>
</head>


<p class="titlee"><b>الببغاء الذهبي</b></p>


<pre>
<div class="div1">
      <img  class="frame" src="golden.jpg" width="400px" height="400px">
	  <iframe class="vid" width="500" height="370" <iframe width="560" height="315" src="https://www.youtube.com/embed/_3Oe0ZsVOMU" allowfullscreen></iframe> 

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  
</pre>
</div>
<div class="test">
<p align="right"><font color="white" size="5">الببغاء الذهبي هو ببغاء متوسط الحجم باللون الأصفر الذهبي يتواجد الأصلي في حوض الأمازون الداخلية شمال البرازيل 
الببغاء الذهبي له ريش اصفر زاهي في معظم ، وبالتالي سمى بهذا الاسم الشائع ، لكنه يمتلك أيضا ريش خضراء.
الببغاء الذهبي يبلغ طوله 34 سم ، لديه منقار كبير ، شاحب وردي ، العين عارية شكل الخواتم وقزحية العين باللون البني ، والساقين بلون وردي .

</font></p>
<p align="right"><font color="white" size="5"></font></p>

<p style="border:1px solid gray;" align="right"><font size="6" color="white">تربية الببغاء الذهبي</font></p>
<p align="right"><font size="6" color="white">التغذي و المسكن</font></p>
<p align="right"><font size="5" color="white"> إنّ الببغاوات من الطيور الغيورة، لذلك يحرص مربوها على فصلها في مجموعتين واحدة للذكور، وأخرى للإناث، وبالرغم من تنوع أنواع الببغاوات في العالم، إلّا أنها تتشارك في بعض الصفات الخارجية والتي تتمثل في رأسها الكبير ومنقارها القوي والذي تستخدمه لتناول طعامها والذي قد يكون عبارة عن الفواكه، والبقوليات أو الحبوب، المكسرات وغيرها، هذا عدا عن المخالب المقوسة التي تستخدمها في الحركة والتنقل والثبات على أغصان الشجر أو المراجيح التي يتم تعليقها في القفص، بالإضافة إلى اللسان السميك، أما بالنسبة إلى أطوالها فهي تتراوح ما بين الـ 10 والـ 100 سم.
</font></p>








</div>
</pre>







</body>
</html>