{% load static %}
<html>
<title>الببغاء الرمادي</title>

<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{% static 'my_app/css/style.css' %}">
</head>
<body bgcolor="#a39e9e">

<pre><img class="owl" src="{% static 'my_app/images/logo.png' %}" height="100" width="100">                <img class="owl" src="{% static 'my_app/images/giffy.gif' %}" width="1000" height="100">






<ul><li><a href="{% url 'main' %}"><h3>الصفحة الرئيسية</h3></a></li><li><a href="{% url 'home_page' %}"><h3>اتصل بنا</h3></a></li></ul>
</pre>
</div>


<p class="titlee"><b>الببغاء الرمادي</b></p>


<pre>
<div class="div1">
      <img  class="frame" src="{% static 'my_app/images/b4.jpg' %}" width="400px" height="400px">
      <iframe class="vid" width="500" height="370" src="https://www.youtube.com/embed/vWS77c5epZ0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  
</pre>
</div>
<div class="test">
<p align="right"><font color="white" size="5">هو ببغاء متوسط الحجم وجد لأول مرة في الغابات المطيرة في غرب ووسط أفريقيا. يعتبره الخبراء واحد من أذكى الطيور في العالم. يتغذى بشكل أساسي على النخيل والجوز والبذور والفواكه والمواد الورقية، ولُوحظ تغذيه أيضًا على الحلزون. بفضل قدرته على تقليد الكلام أصبح له شعبية كحيوان أليف، الذي أدى إلى القبض على العديد منه وبيعه لتجارة الحيوانات الأليفة.



</font></p>
<p align="right"><font color="white" size="5"></font></p>

<p style="border:1px solid gray;" align="right"><font size="6" color="white">تربيه الببغاء الرمادي</font></p>
<p align="right"><font size="6" color="white">التربيه</font></p>
<p align="right"><font size="5" color="white">يربى الببغاء الرمادي كمقتنى زينة، وكحيوان أليف في المنزل وفي قفص كبير متين، أو على حامل، وإذا تمت تربيته في قفص يجب أن يسمح له بالخروج واللعب، وتعلم أخذ وحمل الأشياء، ويمكن له أن يتعلم عادة العض المزعجة، ويحب أكل الفستق، وممنوع من أكل البقدونس، ويحب البيض كثيرًا.




</font></p>
<p align="right"><font size="6">القدرة على الكلام</font></p>
<p align="right"><font size="5">الببغاء الرمادي يمتاز بقدرة فائقة جدًا على الكلام لم يصل إليها أي ببغاء، وقد تصل قدرته على استيعاب وحفظ ألف كلمة وهذا ما يميز الببغاء الأفريقي قدرته على ربط الكلمة بالحدث وقد يستطيع تمييز الألوان والأشياء وأيضًا بعض الإشارات. يبدأ الطائر الأفريقي الكلام في عمر ما بين 6-8 أشهر وهناك بعض الطيور تبدأ الكلام من الصغر ربما في الشهر الأول لحين أن الريش لم يكسوها بالكامل وأيضًا في سن 3 شهور ويعتمد ذلك على ذكاء الطائر، ولكن تدريب الطائر يبدأ بسن صغيرة وقبل عامه الأول فهو له القدرة على تسجيل الكلام ومن ثم يذكرها بشكل مفاجئ.





</font></p>









</div>
</pre>







</body>
</html>