<html>
<title>فريق العمل</title>
<head>
<link rel="stylesheet" href="contact.css">
</head>
<body bgcolor="#a39e9e">

<pre><img class="owl" src="logo.png" height="100" width="100">                <img class="owl" src="giffy.gif" width="1000" height="100">






<ul><li><a href="../main.html"><h3>الصفحة الرئيسية</h3></a></li><li><a href="home.html"><h3>اتصل بنا</h3></a></li></ul>
</pre>
</div>

<p class="titlee">فريق العمل </p>



<div> أسيد حميدي<br>قائد المجموعة<br><a href="https://www.facebook.com/osaid.hami"><img src="faceb.png" width="60" height="60"></a> <a href="https://www.instagram.com/zixler14/"><img src="Instag.png" width="60" height="60"></a></div>                                                                                                                       <div>محمد سلامة <br> مصمم <br>  <a href="https://www.facebook.com/mohammad.salameh.7967"><img src="faceb.png" height="60" width="60"></img></a>  <a href="https://www.instagram.com/msalamh88/"><img src="instag.png" height="60" width="60"></img></a> <a href="https://plus.google.com/108272125698370033864"><img src="gplus.png" height="60" width="60"></img></a> </div>                                                   <div>جاد نائل<br>جامع معلومات <br> <a href="https://www.facebook.com/profile.php?id=100009395960060"><img src="faceb.png" height="60" width="60"></a></div>                    


























<div>عبدالرحمن الكرمي<br> مساعد <br> <a href="https://www.facebook.com/abood.alkarmi.31"><img src="faceb.png" height="60" width="60"></a></div>

</body>
</html>