<html>
<title>ببغاء الحب</title>

<head>
<meta charset="utf-8">
<link rel="stylesheet" href="style.css">
</head>
<body bgcolor="#a39e9e">

<pre><img class="owl" src="logo.png" height="100" width="100">                <img class="owl" src="giffy.gif" width="1000" height="100">






<ul><li><a href="../main.html"><h3>الصفحة الرئيسية</h3></a></li><li><a href="home.html"><h3>اتصل بنا</h3></a></li></ul>
</pre>
</div>


<p class="titlee"><b>ببغاء الحب</b></p>


<pre>
<div class="div1">
      <img  class="frame" src="b5.jpg" width="400px" height="400px">
      <iframe class="vid" width="500" height="370" src="https://www.youtube.com/embed/S_9F7VmnTdI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  
</pre>
</div>
<div class="test">
<p align="right"><font color="white" size="5">هو جنس من الببغاوات الصغيرة يشمل تسعة أنواع ثمانية منهم يعيشون في أفريقيا والتاسع وهو الكانا أو طائر الحب ذو الرأس الرمادية يعيش في جزيرة مدغشقر، وقد سميت بهذا الاسم لمعيشتها في أزواج معظم حياتها وهي تتغذي علي الفواكه والخضر والبذور والأعشاب ونوع التاراننا أو ابيسينيان أو طائر الحب ذو الجناح الأسود فيأكل كذلك الحشرات والتين، وطائر الحب سويديرينييس أو ذو الياقة السوداء



</font></p>
<p align="right"><font color="white" size="5"></font></p>
<p align="right"><font size="5" color="white">طيور الحب يتراوح طولها بين 13 إلي 17 سم ومن 40 إلي 60 جرام في الوزن، وهي من اصغر الببغاوات في العالم، لها جسد ممتلئ وذيل عريض إلي حد ما، ومنقار كبير نسبيا وقوي، ولون الطائر البري من كل الأنواع التسعة هو الأخضر ولكن يختلف لون الجزء العلوي من الجسد من نوع لأخر ويتم التقسيم إلي مجموعة ذوي الحلقة وتشمل أربعة أنواع هي (البيرسوناتا أو البلاك ماسك أو ذو القناع الأسود) الفيشري الليليان (أو النياسا) والنيجريجينيس (أو البلاك شييكد أو ذو الخد الأسود) وثلاثة أنواع أخرى يمكن تمييز الجنس فيها ظاهريا وهي البولاريا التارانتا أو ابيسينيان أو طائر الحب ذو الجناح الأسود وأخيرا طائر الحب روزيكوليس أو ذو القناع الأحمر أو البيتش فاسد وهو يعتبر بين المجموعتين مجموعة ذوي الحلقة والمجموعة التي يمكن تمييز الجنس ظاهريا فيها، ولا يمكن تمييز الجنس ظاهريا في الروزيكوليس




</font></p>
<p style="border:1px solid gray;" align="right"><font size="6" color="white">تربيه ببغاء الحب</font></p>


<p align="right"><font size="6">التغذيه</font></p>
<p align="right"><font size="5">لهو احتياجات غذائية خاصة حيث يتغذي علي نوع معين من التين مما يجعل من الصعب تربيته في الأسر ولذلك فهو النوع الوحيد من طيور الحب الذي لم يرب في الأسر إلى الآن ،باقي الأنواع الثمانية يتم تربيتها في الأسر ،وكذلك يتم الاحتفاظ بطائر واحد كحيوان أليف في بعض الأحيان، وقد ظهر العديد من الطفرات اللونية في الأسر، متوسط عمر الطائر بين 10 إلي 15 عام





</font></p>









</div>
</pre>







</body>
</html>