{% load static %}
<html>
<title> مكاو ياقوتي</title>

<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{% static 'my_app/css/style.css' %}">
</head>
<body bgcolor="#a39e9e">

<pre><img class="owl" src="{% static 'my_app/images/logo.png' %}" height="100" width="100">                <img class="owl" src="{% static 'my_app/images/giffy.gif' %}" width="1000" height="100">






<ul><li><a href="{% url 'main' %}"><h3>الصفحة الرئيسية</h3></a></li><li><a href="{% url 'home_page' %}"><h3>اتصل بنا</h3></a></li></ul>
</pre>
</div>


<p class="titlee"><b>مكاو ياقوتي</b></p>


<pre>
<div class="div1">
      <img  class="frame" src="{% static 'my_app/images/macaww.jpg' %}" width="400px" height="400px">
	  <iframe class="vid" width="500" height="370" <iframe width="560" height="315" src="https://www.youtube.com/embed/kOBjG4QISQE" allowfullscreen></iframe> 

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  
</pre>
</div>
<div class="test">
<p align="right"><font color="white" size="5">المكاو الياقوتي ببغاء أصله من أواسط أمريكا الجنوبية وشرقها، طوله من رأسه إلى آخر ذيله المستدق حوالي 100 سنتمتر، وهو بذلك أطول أنواع الببغاوات، كما أنه أكبر طيور المكاو وأكبر الببغاوات الطائرة حجما، إلا أن ببغاء الكاكابو، وهو ببغاء نيوزلندي لا يطير، يفوقه وزنا فيصل وزنه إلى 3.5 كيلوغرام.
المكاو الياقوتي أكبر الببغاوات من حيث الطول في العالم، فطوله 100 سنتمتر من قمة رأسه إلى طرف ذيله، ووزنه 1.2 إلى 1.7 كيلوغرام، وطول الجناح الواحد يتراوح ما بين 388 و425 ميلليمتر، ذيله طويل ومستدق، وريشه أزرق اللون بالكامل، وهو أغمق عند الجزء العلوي وأفتح عند الجناحين، ويملك المكاو الياقوتي منقارا كبيرا معكوفا أسود اللون، كما يوجد على وجه المكاو الياقوتي جلد أصفر اللون غير مغطى بالريش، يوجد على طرفي منقاره من الجهتين اليمنى واليسرى، ويوجد أيضا على شكل حلقة حول عينيه.




</font></p>
<p align="right"><font color="white" size="5"></font></p>

<p style="border:1px solid gray;" align="right"><font size="6" color="white">تربية المكاو الياقوتي</font></p>

<p align="right"><font size="6">التغذية</font></p>
<p align="right"><font size="5"> الغذاء الرئيسي للمكاو الياقوتي هو جوز أشجار النخيل المحلية، وقد خُلق لهذا الطائر منقار قوي جدا يمكّنه من أكل لب الجوز القاسي، كما يمكنه منقاره القوي من تحطيم ثمار جوز الهند وثمار شجر المكاداميا، إضافة إلى ذلك فإنه يأكل الفاكهة والخضراوات.</font></p>









</div>
</pre>







</body>
</html>