{% load static %}
<html>
<title>صردأحمر القنة</title>

<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{% static 'my_app/css/style.css' %}">
</head>
<body bgcolor="#a39e9e">

<pre><img class="owl" src="{% static 'my_app/images/logo.png' %}" height="100" width="100">                <img class="owl" src="{% static 'my_app/images/giffy.gif' %}" width="1000" height="100">






<ul><li><a href="{% url 'main' %}"><h3>الصفحة الرئيسية</h3></a></li><li><a href="{% url 'home_page' %}"><h3>اتصل بنا</h3></a></li></ul>
</pre>
</div>

<p class="titlee"><b>صرد أحمر القنة</b></p>


<pre>
<div class="div1">
      <img  class="frame" src="{% static 'my_app/images/b2.jpg' %}" width="400px" height="400px">
      <iframe class="vid" width="500" height="370" src="https://www.youtube.com/embed/MVt1ebl7MnQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  
</pre>
</div>
<div class="test">
<p align="right"><font color="white" size="5">طائر متوسط الحجم من العصفوريات. الذكر ملفت للنظر بلونه الأسود والأبيض وقنته الحمراء الكستنائية. سلالتة موجودة في غرب حوض البحر المتوسط ليس لها بقع بيضاء كبيرة على الجناح. عند الإناث والأفراد اليافعة تكون الأجزاء العلوية من الجسم بنية وعليها تموجات، أما الأجزاء السفلية فتكون بنية مصفرة وعليها تموجات أيضاً.



</font></p>
<p align="right"><font color="white" size="5"></font></p>

<p style="border:1px solid gray;" align="right"><font size="6" color="white">تربيه طائر صرداحمر القنه</font></p>
<p align="right"><font size="6" color="white">التكاثر</font></p>
<p align="right"><font size="5" color="white">يتكاثر في جنوب أوروبا وفي الشرق الأوسط وشمال غرب إفريقيا، ويشتي في المناطق المدارية من القارة الأفريقية. يتكاثر في المناطق الزراعية المفتوحة، ويفضل بساتين الأشجار والتي تحيط بها مناطق جرداء رملية وهو مهاجر عابر خلال الهجرة الربيعية والخريفية


</font></p>
<p align="right"><font size="6">التغذية</font></p>
<p align="right"><font size="5">يتغذى على الحشرات الكبيرة والطيور الصغيرة والبرمائيات. ومثل طيور الصرد الأخرى فهو يصطاد من منطقة مرتفعة، ويعلق فريسته على نبات شوكي أو على شريط شائك ثم يقوم بالتغذي عليها.



</font></p>









</div>
</pre>







</body>
</html>