{% load static %}
<html>
<title>عروسة التركمان</title>

<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{% static 'my_app/css/style.css' %}">
</head>
<body bgcolor="#a39e9e">

<pre><img class="owl" src="{% static 'my_app/images/logo.png' %}" height="100" width="100">                <img class="owl" src="{% static 'my_app/images/giffy.gif' %}" width="1000" height="100">






<ul><li><a href="{% url 'main' %}"><h3>الصفحة الرئيسية</h3></a></li><li><a href="{% url 'home_page' %}"><h3>اتصل بنا</h3></a></li></ul>
</pre>
</div>

<p class="titlee"><b>عروسة التركمان</b></p>


<pre>
<div class="div1">
      <img  class="frame" src="{% static 'my_app/images/b3.jpg' %}" width="400px" height="400px">
      <iframe class="vid" width="500" height="370" src="https://www.youtube.com/embed/nCYkd0JhNCg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  
</pre>
</div>
<div class="test">
<p align="right"><font color="white" size="5">هو طائرٌ صغير من رُتبة الجواثم وفصيلة الشُرشُوريَّات. يمتدُ موطن هذه الطُيور من أوروپَّا الغربيَّة وُصولًا إلى سيبيريا الوُسطى، ومن شمال أفريقيا حتَّى آسيا الغربيَّة والوُسطى. كذلك، فقد أُدخلت إلى الكثير من بُلدان العالم عن قصد أو بطريق الخطأ، عندما أُحضرت لِغرض تجارة طُيور الأقفاص، ومن تلك البُلدان: أستراليا ونيوزيلندا وعدد من الجُزر الأوقيانوسيَّة ودُول أمريكا الجنوبيَّة. غذاؤها الرئيسي يتكوَّن من بُزور النباتات المُعمِّرة، والأشواك البريَّة، وبعضُ ثمار الأشجار



</font></p>
<p align="right"><font color="white" size="5"></font></p>

<p style="border:1px solid gray;" align="right"><font size="6" color="white">تربية عروسة التركمان</font></p>
<p align="right"><font size="6" color="white">التكاثر</font></p>
<p align="right"><font size="5" color="white">يتكاثر في جنوب أوروبا وفي الشرق الأوسط وشمال غرب إفريقيا، ويشتي في المناطق المدارية من القارة الأفريقية. يتكاثر في المناطق الزراعية المفتوحة، ويفضل بساتين الأشجار والتي تحيط بها مناطق جرداء رملية وهو مهاجر عابر خلال الهجرة الربيعية والخريفية


</font></p>
<p align="right"><font size="6">التغذية</font></p>
<p align="right"><font size="5">يتغذى الحسون على بذور النباتات الحولية من العائلة المركبة مثل الصفير ومخلب القط وعلى الاخص بذور النباتات الشوكية كالخرفيش

 والسنارية وأسمها بالعبرية كأسم النبات بالعبرية (חוח - חוחית) في الشتاء وبداية الربيع تأكل ايضا بذور الصنوبر التي تخرجها من الكوز, 

وبراعم اوراق الاشجار والشجيرات , بادرات صغيرة وازهار وحتى حشرات.



</font></p>









</div>
</pre>







</body>
</html>