<html>
<title>ذعرة صفراء</title>

<head>
<meta charset="utf-8">
<link rel="stylesheet" href="style.css">
</head>
<body bgcolor="#a39e9e">

<pre><img class="owl" src="logo.png" height="100" width="100">                <img class="owl" src="giffy.gif" width="1000" height="100">






<ul><li><a href="../main.html"><h3>الصفحة الرئيسية</h3></a></li><li><a href="home.html"><h3>اتصل بنا</h3></a></li></ul>
</pre>
</div>

<p class="titlee"><b>ذعرة صفراء</b></p>


<pre>
<div class="div1">
      <img  class="frame" src="b1.jpg" width="400px" height="400px">
      <iframe class="vid" width="500" height="370" src="https://www.youtube.com/embed/eYrQDvJWgG4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  
</pre>
</div>
<div class="test">
<p align="right"><font color="white" size="5">طائر مهاجر عابر شائع ومنتشر في موسم الهجرة الشتوية والربيعية، يألف المناطق ذات الغطاء النباتي المروّي المناطق الزراعية، والأراضي المكشوفة، وبالقرب من أماكن ذات السدود المائية.



</font></p>
<p align="right"><font color="white" size="5"></font></p>

<p style="border:1px solid gray;" align="right"><font size="6" color="white">تربيه طيور الذعره الصفراء</font></p>
<p align="right"><font size="6" color="white">التكاثر</font></p>
<p align="right"><font size="5" color="white">يتكاثر في الفترة ما بين مايو إلى يوليو، وتضع الأنثى من 5 إلى 6 بيضات في أعشاش من النباتات في مخابئ على الأرض. ويلاحظ أن الصعوة والسلحوت يشابهان ف الشكل ولا يتشابهان في اللون.
</font></p>
<p align="right"><font size="6">التغذية</font></p>
<p align="right"><font size="5">يتغذى على الحشرات والديدان وهو يحرك ذيله باستمرار إلى أعلى وأسفل، أثناء التغذية.

</font></p>









</div>
</pre>







</body>
</html>